<div class="card">
  <div *ngFor="let comments of iComment">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
        <div class="d-flex flex-row comment-row-child">
          <div class="p-2">
            <img alt="user" width="50" class="rounded-circle"
                 [src]="comments.account.student ? comments.account.student.avatar : comments.account.teacher.avatar">
          </div>
          <div class="comment-text w-100">
            <h6 class="font-medium">
              <b>
                {{comments.account.student ? comments.account.student.name : comments.account.teacher.name}}
            </b>
            </h6>
            <span class="m-b-15 d-block">{{comments.content}}</span>
            <div class="comment-footer">
              <span class="text-muted float-end" style="position: absolute; right: 30px">
                {{comments.timeComment|date: 'hh:mm:ss dd/MM/yyyy'}}
              </span>
              <div *ngIf="account.id == comments.account.id else noDelete">
                <button type="button" class="btn btn-cyan btn-sm" (click)="getEditComments(comments)">Sửa</button>
                <button type="button" class="btn btn-danger btn-sm " (click)="getCommentDeleteById(comments.id)"
                        data-bs-toggle="modal"
                        data-bs-target="#modalDelReply">Xóa
                </button>
              </div>
              <ng-template #noDelete>
                <button type="button" class="btn btn-success btn-sm" (click)="getIdComment(comments)">Trả lời</button>
              </ng-template>
            </div>

          </div>
        </div>

        <div *ngIf="flagReply && idComment == comments.id">
          <form [formGroup]="formGroup">
            <div class="form-group">
              <div class="col-sm">
                <input id="inputContentReply" class="form-control" formControlName="content" required>
              </div>
            </div>
            <button class="btn btn-secondary float-end mt-2 mx-2" type="reset" (click)="exitReply()">Hủy</button>
            <button class="btn btn-primary float-end mt-2" type="submit" [disabled]="formGroup.invalid"
                    (click)="submitForReply()">Trả lời
            </button>
          </form>
        </div>
        <div *ngIf="flagEdit && idCommentEdit == comments.id">
          <form [formGroup]="formGroup">
            <div class="form-group">
              <div class="col-sm">
                <input id="editContentReply" class="form-control" formControlName="content" required>
              </div>
            </div>
            <button class="btn btn-secondary float-end mt-2 mx-2" type="reset" (click)="exitReply()">Hủy</button>
            <button class="btn btn-primary float-end mt-2" type="submit" [disabled]="formGroup.invalid"
                    (click)="editReply()">Chỉnh sửa
            </button>
          </form>
        </div>
      </div>
      <div class="row" style="text-align: center" *ngIf="iComment.length > 0">
        <div class="col-sm">
          <button (click)="onClickShowComment()" style="color: #0a53be" class="text-center btn">Xem bình luận...
          </button>
        </div>
        <div class="col-sm">
          <button (click)="onClickHideComment()" style="color: #0a53be" class="text-center btn">Ẩn bình luận...
          </button>
        </div>
      </div>
    </div>
    <hr>
    <app-comment-post-reply-list [idReply]="comments"></app-comment-post-reply-list>
  </div>
</div>

