<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Đăng kí thông tin sinh viên</h2>
  </div>
</div>
<main id="main">
  <!-- ======= Cource Details Section ======= -->
  <section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

      <div class="row" style="height: 500px">
        <div class="col-lg-5 h-100">
          <img [src]="img" class="img-fluid img-thumbnail h-100 w-100"  alt="" >
          <input type="file" hidden id="choiceAvatarEdit" (change)="showImage($event)">
          <div class="container-fluid d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-outline-primary" style="border-radius: 50px;" (click)="choiceFileAvatar()">Chọn ảnh đại diện
            </button>
          </div>
        </div>
        <div class="col-lg-7">
          <form [formGroup]="formEditStudent" (ngSubmit)="save()">
            <div class="row">
              <div class="col-lg-6">
                <label for="name" class="form-label createStudent">Tên sinh viên (<span
                  style="color: red">*</span>)</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <div class="text-danger" *ngFor="let validation of validation_messages.name">
                  <div class="error-message"
                       *ngIf="formEditStudent.get('name').hasError(validation.type) && (formEditStudent.get('name').dirty || formEditStudent.get('name').touched)">
                    {{validation.message}}</div>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="gender" class="form-label createStudent">Giới tính (<span
                  style="color: red">*</span>)</label><br>
                <select name="" id="gender" class="form-select w-100" formControlName="gender">
                  <option [value]="true" [selected]="student.gender == true ">Nam</option>
                  <option [value]="false" [selected]="student.gender == false">Nữ</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-6">
                <label for="birthday" class="form-label createStudent">Ngày sinh (<span
                  style="color: red">*</span>)</label>
                <input type="date" class="form-control" id="birthday" formControlName="dateOfBirth">
                <div class="text-danger" *ngFor="let validation of validation_messages.dateOfBirth">
                  <div class="error-message"
                       *ngIf="formEditStudent.get('dateOfBirth').hasError(validation.type) && (formEditStudent.get('dateOfBirth').dirty || formEditStudent.get('dateOfBirth').touched)">
                    {{validation.message}}</div>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="phone" class="form-label createStudent">Số điện thoại (<span
                  style="color: red">*</span>)</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
                <div class="text-danger" *ngFor="let validation of validation_messages.phone">
                  <div class="error-message"
                       *ngIf="formEditStudent.get('phone').hasError(validation.type) && (formEditStudent.get('phone').dirty || formEditStudent.get('phone').touched)">
                    {{validation.message}}</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-6">
                <label for="class" class="form-label createStudent">Lớp (<span
                  style="color: red">*</span>)</label><br>
                <select name="" id="class" class="form-select w-100" formControlName="grade">
                  <option *ngFor="let grade of listGrade"
                          [value]="grade.id" [selected]="grade.id == student.grade">{{grade.name}}</option>
                </select>
              </div>
              <div class="col-lg-6">
                <label for="diachi" class="form-label createStudent">Địa chỉ (<span
                  style="color: red">*</span>)</label>
                <input type="text" class="form-control" id="diachi" formControlName="address">
                <div class="text-danger" *ngFor="let validation of validation_messages.address">
                  <div class="error-message"
                       *ngIf="formEditStudent.get('address').hasError(validation.type) && (formEditStudent.get('address').dirty || formEditStudent.get('address').touched)">
                    {{validation.message}}</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-6">
                <label for="email" class="form-label createStudent">Email (<span
                  style="color: red">*</span>)</label>
                <input type="text" class="form-control" id="email" formControlName="email">
                <div class="text-danger" *ngFor="let validation of validation_messages.email">
                  <div class="error-message"
                       *ngIf="formEditStudent.get('email').hasError(validation.type) && (formEditStudent.get('email').dirty || formEditStudent.get('email').touched)">
                    {{validation.message}}</div>
                </div>
              </div>
              <div class="col-lg-6"></div>
            </div>

            <div class="container d-flex justify-content-end mt-3">
              <button [disabled]="formEditStudent.invalid" type="submit" class="btn  get-started-btn">Lưu</button>
              <button type="button" class="btn  get-started-btn" [routerLink]="['/list-student']" style="background: #7e9486">Thoát
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section><!-- End Cource Details Section -->

</main><!-- End #main -->
