<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Quản lí tiến độ đề tài sinh viên</h2>
  </div>
</div>
<div *ngIf="checkLoad" id="main" class="container" style="height: 500px; margin-top: 50px">
  <div class="">
    <table class="table table-hover" >
      <thead>
      <tr class="">
        <th>STT</th>
        <th>Nhóm</th>
        <th>Tên đề tài</th>
        <th>Số thành viên</th>
        <th>Quản lí tiến độ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of processList; let i = index">
        <td scope="row">{{i + 1}}</td>
        <td> {{e.groupAccount.name}} </td>
        <td>{{e.topic.name}}</td>
        <td>{{e.groupAccount.studentList.length}}</td>
        <td class=""><a href="progress_detail.html" class="btn btn-success" [routerLink]="'/process-detail/' + e.id">Chi tiết</a></td>
      </tr>
      </tbody>
    </table>

    <nav class="d-flex justify-content-end" aria-label="Page navigation example">
      <ul class="pagination">
        <li  (click)="page = page - 1; getListProcess()" *ngIf="!pageable.first" class="page-item">
          <button class="page-link text-dark" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li [class.active]="pageable.first" class="page-item"><button [disabled]="pageable.first" class="page-link text-dark" [value]="pageable.first ? 1 : page" (click)="page = $event.target.value - 1; getListProcess()">{{pageable.first ? 1 : (pageable.last ? (pageable.totalPages == 2 ? page : page - 1) : page)}}</button></li>
        <li *ngIf="pageable.totalPages > 1" [class.active]="(!pageable.first && !pageable.last) || (pageable.last && pageable.totalPages == 2)" class="page-item"><button [disabled]="(!pageable.first && !pageable.last) || (pageable.last && pageable.totalPages == 2)" class="page-link text-dark" [value]="pageable.first ? page + 1 : page - 1" (click)="page = $event.target.value; getListProcess()">{{pageable.first ? page + 2 : (pageable.last ? (pageable.totalPages == 2 ? page + 1 : page) : page + 1)}}</button></li>
        <li *ngIf="pageable.totalPages > 2" [class.active]="pageable.last" class="page-item"><button [disabled]="pageable.last" class="page-link text-dark" [value]="pageable.first ? page + 3 : (pageable.last ? pageable.totalPages + 1 : page + 2)" (click)="page = parseInt($event.target.value) - 1; getListProcess()">{{pageable.first ? page + 3 : (pageable.last ? pageable.totalPages : page + 2)}}</button></li>
        <li  *ngIf="!pageable.last"  (click)="page = page + 1; getListProcess()" class="page-item">
          <button class="page-link text-dark" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
