<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Đổi mật khẩu</h2>
  </div>
</div>
<div id="main" class="container" style="height: 500px; margin-top: 50px">
  <div style="margin-top: 100px;">
    <form [formGroup]="formChangePassword" (ngSubmit)="savePassword()">
      <div class="mb-3 row justify-content-center" style="height: 50px">
        <div class="col-2">
          <label for="oldPassword" class="col-form-label">Mật khẩu cũ<span style="color: red;">*</span></label>
        </div>
        <div class="col-4">
          <input [class.border-danger]="checkOldPassword || (formChangePassword.get('oldPassword').hasError('required') && formChangePassword.get('oldPassword').touched)" type="password" formControlName="oldPassword" placeholder="Nhập mật khẩu cũ" id="oldPassword" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <span *ngIf="checkOldPassword" class="text-danger" style="margin-left: 84%">Mật khẩu không đúng</span>
        <span class="text-danger" *ngIf="formChangePassword.get('oldPassword').hasError('required') && formChangePassword.get('oldPassword').touched" style="margin-left: 84%">Mật khẩu không được để trống</span>
      </div>
      <div class="mb-3 row justify-content-center"  style="height: 50px">
        <div class="col-2">
          <label for="newPassword" class="col-form-label">Mật khẩu mới<span style="color: red;">*</span></label>
        </div>
        <div class="col-4">
          <input [class.border-danger]="(formChangePassword.get('newPassword').invalid && formChangePassword.get('newPassword').touched) || (formChangePassword.get('newPassword').invalid && checkValid)" type="password" formControlName="newPassword" id="newPassword" class="form-control" placeholder="Nhập mật khẩu mới" aria-describedby="passwordHelpInline">
        </div>
        <span class="text-danger" *ngIf="(formChangePassword.get('newPassword').hasError('required') && formChangePassword.get('newPassword').touched) || (formChangePassword.get('newPassword').hasError('required') && checkValid)" style="margin-left: 84%">Mật khẩu không được để trống</span>
      </div>
      <div class="mb-3 row justify-content-center"  style="height: 50px">
        <div class="col-2">
          <label for="repeatPassword" class="col-form-label">Xác nhận mật khẩu<span style="color: red;">*</span></label>
        </div>
        <div class="col-4">
          <input [class.border-danger]="((formChangePassword.hasError('checkNewPasswordError') || formChangePassword.get('repeatPassword').invalid) && formChangePassword.get('repeatPassword').touched) || ((formChangePassword.hasError('checkNewPasswordError') || formChangePassword.get('repeatPassword').invalid) && checkValid)" type="password" formControlName="repeatPassword" id="repeatPassword" class="form-control" placeholder="Nhập lại mật khẩu" aria-describedby="passwordHelpInline">
        </div>
        <span class="text-danger" *ngIf="(formChangePassword.get('repeatPassword').hasError('required') && formChangePassword.get('repeatPassword').touched) || ( formChangePassword.get('repeatPassword').hasError('required') && checkValid)" style="margin-left: 84%">Không được để trống</span>
        <span class="text-danger" *ngIf="(formChangePassword.hasError('checkNewPasswordError') && formChangePassword.get('repeatPassword').touched) || (formChangePassword.hasError('checkNewPasswordError') && checkValid)" style="margin-left: 84%">Mật khẩu không khớp</span>
      </div>
      <div style="text-align: center; margin-left: 32%">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Lưu thay đổi</button>
      </div>
    </form>

  </div>
</div>
