
<header id="header" class="fixed-top" style="padding: 0">
  <div class="container d-flex align-items-center">


    <h1 class="logo me-auto"><a href="index.html">C0720G1</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!--     <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul class="mr-5">
        <li><a class="" routerLink="">Trang chủ</a></li>
        <li><a [routerLink]="['/topic-manager']">Danh sách đề tài</a></li>
        <li><a href="about.html">Tin tức</a></li>
        <!--        <li><a href="about.html">Đào tạo</a></li>-->
        <!--        <li><a href="progrees.html">Tiến độ</a></li>-->

        <li *ngIf="accountPercent != null ? accountPercent.teacher != null : false" class="dropdown"><a href="#"><span>Giáo viên</span>
          <i
            class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#" [routerLink]="['/list-teacher']">Quản lí giáo viên</a></li>
            <li><a href="#" [routerLink]="['/list-student']">Quản lý sinh viên</a></li>
            <li><a routerLink="process-manager">Quản lí đề tài</a></li>
            <li><a href="#" routerLink="/approval-topic">Kiểm duyệt đề tài</a></li>

          </ul>
        </li>
        <li *ngIf="accountPercent != null" class="dropdown"><a href="#"><span>Nhóm</span> <i
          class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink='/register-group'
                   *ngIf="accountPercent.student?.groupAccount == null">Đăng ký
              nhóm</a></li>
            <li><a routerLink='/list-group' *ngIf="accountPercent.student == null">Quản lý nhóm</a></li>
            <li *ngIf="accountPercent.student != null && accountPercent.student.groupAccount != null" style="text-align: center">Bạn đã có nhóm !
            </li>
          </ul>
        </li>
        <!--        <li><a href="about.html"></a></li>-->
        <li *ngIf="accountPercent != null" class="dropdown"><a href="#" class=""><i style="font-size: 30px"
                                                                                    class="bi bi-person-circle"></i>
          <i class="bi bi-chevron-down"></i></a>
          <ul>
            <!--            <li *ngIf="processDetail != null"><a [routerLink]="'process-detail/'+ processDetail.id">Đề tài của tôi</a>-->
            <!--            </li>-->
            <li *ngIf="accountPercent.student != null"><a *ngIf="accountPercent.student.groupAccount != null"
                                                          [routerLink]="'/group/'+ accountPercent.student.groupAccount.id">Nhóm
              của tôi</a></li>
            <li><a routerLink="change-password">Đổi mật khẩu</a></li>
          </ul>
        </li>

        <li class="ml-4">
          <div class="dropdown" *ngIf="accountPercent != null">
            <button class="btn mb-2" (click)="seen()">
        <span *ngIf="accountPercent != null" id="dropdownMenuButton1" class=""
              style="margin-right: 30px; margin-bottom: 5px; font-size: 25px">
          <i *ngIf="checkSeen" class="bi bi-envelope-fill text-danger"> </i>
          <i *ngIf="!checkSeen" class="bi bi-envelope-open-fill text-success"></i>
        </span>
            </button>
            <ul style="position: absolute; left: 0; width: 400px!important;" class="dropdown-menu"
                aria-labelledby="dropdownMenuButton1">
              <li class="text-center"><h4>Thông báo</h4></li>
              <li>
                <hr>
              </li>
              <li class="notification mb-3" *ngFor="let e of notificationList">
                <a href="{{e.url}}" target="_blank"><button class="btn">
                <div class="row px-0">
                  <div class="col-3 ml-2">
                    <img *ngIf="e.accountSendNotification?.student != null " width="70px" height="70px" class="rounded-circle mt-2"
                         [src]="e.accountSendNotification?.student != null ? e.accountSendNotification?.student?.avatar : e.accountSendNotification?.teacher?.avatar"
                         alt="">
                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"
                         width="70px" height="70px" class="rounded-circle mt-2" *ngIf="e.accountSendNotification?.student == null">
                  </div>
                  <div class="col-8 fon" [class]="e.status ? '' : 'font-weight-bold'">
                    <h6 *ngIf="e?.title != null" style="text-align: justify; font-size: 15px; line-height: 20px"
                           class="ml-1 mr-1">{{e.title?.length > 40 ? e.title.substring(0, 40) + '...' : e.title}}</h6>
                    <h6 *ngIf="e?.content != null" style="text-align: justify; font-size: 15px; line-height: 20px"
                           class="ml-1 mr-1"> {{e.content?.length > 30 ? e.content.substring(0, 30) + '...' : e.content}}</h6>
                  </div>
                </div>
                <sup class=" mt-2" style="margin-left: 150px">{{e.timeNotification |date: 'hh:mm:ss dd/MM/yyyy'}}</sup>
                </button></a>
              </li>
              <li *ngIf="notificationList != null" class="text-center text-success"><h2
                *ngIf="notificationList.length == 0">Không có thông báo nào</h2></li>
            </ul>
          </div>
        </li>
        <!--        <li><a href="events.html">Liên hệ</a></li>-->

      </ul>

      <!--      <i *ngIf="checkLogin" class="bi bi-bell-fill text-warning" style="margin-left: 10px; margin-bottom: 5px; font-size: 25px"></i><sub *ngIf="checkLogin">1</sub>-->
      <i class="bi bi-list mobile-nav-toggle"></i>


    </nav><!-- .navbar -->

    <a *ngIf="accountPercent == null" href="/login" class="get-started-btn">Đăng nhập</a>
    <a style="position: absolute; right: 50px" routerLink="" *ngIf="accountPercent != null" (click)="signOut()">Đăng xuất</a>

  </div>
  <div *ngIf="accountPercent?.student?.groupAccount != null">
  <div *ngIf="!accountPercent.student?.status_join && accountPercent.student?.groupAccount != null" class="alert alert-success"
       style="text-align: center; margin: 0" role="alert">
    Bạn có 1 lời mời vào nhóm <span style="color: red">{{accountPercent.student.groupAccount.name}}</span>!
      <button style="margin-left: 20px" class="btn btn-success" (click)="JoinGroup()">Đồng ý</button>
    <button style="margin-left: 20px" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalHeader">Từ
      chối
    </button>
  </div>
  </div>
</header>


<div *ngIf="accountPercent != null" class="modal fade" id="exampleModalHeader" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="accountPercent.student?.groupAccount != null">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chăn muốn từ chối lời mời nhóm <span style="color: red">{{accountPercent.student?.groupAccount.name}}</span> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="DenyGroup(accountPercent.student?.id)">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<!-- End Header -->
