<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Chỉnh sửa file báo cáo</h2>
  </div>
</div>
<section id="contact" class="contact">
  <!--  -->

  <div class="container" data-aos="fade-up">

    <div class="row mt-5">

      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-book-fill"></i>
            <h4>Tên đề tài</h4>
          </div>

          <div class="email">
            <i class="bi bi-bar-chart-line-fill"></i>
            <h4>Giai đoạn 1</h4>
          </div>

          <div class="phone">
            <i class="bi bi-file-earmark-text-fill"></i>
            <h4>File báo cáo</h4>
          </div>
          <div class="phone">
            <i class="bi bi-chat-left-dots-fill"></i>
            <h4>Nội dung</h4>
          </div>
        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="col-md-6 form-group">
            <h2> Website Hẹn Hò</h2>
          </div>
          <div class="form-group mt-3">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                 data-bs-toggle="tooltip"
                 style="width:25%" data-bs-placement="top" title="Giai đoạn 1">
              25%
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-6 form-group">
              <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Lịch sử file đã báo cáo
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group mt-4">
                            <textarea class="form-control" name="message" rows="5"
                                      required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message">Bạn Nhập Sai</div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="row mt-4">
            <div class="col-7">

            </div>
            <div class="col-5">
              <a routerLink="/" class="get-started-btn bg-secondary">Thoát</a>
              <a routerLink="/" class="get-started-btn bg-primary">Đăng ký</a>
            </div>
          </div>
        </form>

      </div>

    </div>

  </div>
</section>
