<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Đăng ký đề tài</h2>
  </div>
</div>
<div class="container mt-5">
  <div class="row">

    <div class="col-6 border-end border-2 border-dark">
      <form action="" [formGroup]="formInfoTopicRegister">
        <div formGroupName="topic" class="row" style="height: 50px">
          <div class="col-4">
            <label style="color: red">* </label>Tên đề tài
          </div>
          <div class="col-8">
            <input formControlName="name" class="form-control" [readOnly]="checkReadOnly" >
          </div>
          <span *ngIf="(formInfoTopicRegister.get('topic').get('name').hasError('required')) && formInfoTopicRegister.get('topic').get('name').touched " class="text-danger" style="margin-left: 35%">Không được để trống</span>
          <span *ngIf="( formInfoTopicRegister.get('topic').get('name').hasError('maxlength')) && formInfoTopicRegister.get('topic').get('name').touched " class="text-danger" style="margin-left: 35%">Tên đề tài không được vượt quá 100 ký tự</span>
        </div>

        <div formGroupName="topic" class="row mt-3">
          <div class="col-4">
            <label style="color: red">* </label>Nội dung đề tài
          </div>
          <div class="col-8">
            <textarea formControlName="content" rows="5" cols="50" class="form-control" [readOnly]="checkReadOnly" ></textarea>
          </div>
          <span *ngIf="(formInfoTopicRegister.get('topic').get('content').hasError('required') ) && formInfoTopicRegister.get('topic').get('content').touched " class="text-danger" style="margin-left: 35%">Không được để trống</span>
          <span *ngIf="(formInfoTopicRegister.get('topic').get('content').hasError('maxlength')) && formInfoTopicRegister.get('topic').get('content').touched " class="text-danger" style="margin-left: 35%">Nội dung đề tài không được vượt quá 1000 ký tự</span>
        </div>

<!--        <div class="row mt-4">-->
<!--          <div class="col-4">-->
<!--            <label style="color: red">* </label>Nhóm-->
<!--          </div>-->
<!--          <div class="col-8">-->
<!--            <select formControlName="groupAccount" class="form-select">-->
<!--              <option value="2">Nhóm A</option>-->
<!--              <option value="1">Nhóm B</option>-->
<!--              <option value="3">Nhóm C</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
      </form>
    </div>


    <div class="col-6 border-start">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên đề tài</th>
          <!--          <th scope="col">Số Lượng SVTH</th>-->
<!--          <th scope="col">Xem</th>-->
          <th scope="col">Chọn</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of topicList; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{e.name}}</td>
          <!--          <td>1128</td>-->
<!--          <td>-->
<!--            <button class="btn btn-success">Xem</button>-->
<!--          </td>-->
          <td *ngIf="e.id != idTopicSelected">
            <button class="btn btn-success" (click)="selectTopic(e)">Chọn</button>
          </td>
          <td *ngIf="checkReadOnly && e.id == idTopicSelected">
            <button class="btn btn-danger" (click)="closeSelect()">Hủy</button>
          </td>

        </tr>

        </tbody>
      </table>
    </div>

  </div>
  <div class="row mt-4 ml-2">
    <div class="col-9">

    </div>
    <div class="col-3">
      <form [formGroup]="formInfoTopicRegister" (ngSubmit)="save()">
      <button [routerLink]="['/group',accountPercent.student.groupAccount.id]" class="get-started-btn bg-secondary border-0">Thoát</button>
      <button type="submit" class="get-started-btn bg-primary border-0">Đăng ký</button>
      </form>
    </div>
  </div>
</div>


