<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Đăng ký đề tài</h2>
  </div>
</div>
<div class="container mt-5">
  <div class="row">

    <div class="col-6 border-end border-2 border-dark">
      <form action="" [formGroup]="formInfoTopicRegister">
        <div formGroupName="topic" class="row" style="height: 50px">
          <div class="col-4">
            <label style="color: red">* </label>Tên đề tài
          </div>
          <div class="col-8">
            <input formControlName="name" class="form-control" [readOnly]="checkReadOnly" >
          </div>
          <span *ngIf="(formInfoTopicRegister.get('topic').get('name').hasError('required')) && formInfoTopicRegister.get('topic').get('name').touched " class="text-danger" style="margin-left: 35%">Không được để trống</span>
          <span *ngIf="( formInfoTopicRegister.get('topic').get('name').hasError('maxlength')) && formInfoTopicRegister.get('topic').get('name').touched " class="text-danger" style="margin-left: 35%">Tên đề tài không được vượt quá 100 ký tự</span>
        </div>

        <div formGroupName="topic" class="row mt-3">
          <div class="col-4">
            <label style="color: red">* </label>Nội dung đề tài
          </div>
          <div class="col-8">
            <textarea formControlName="content" rows="5" cols="50" class="form-control" [readOnly]="checkReadOnly" ></textarea>
          </div>
          <span *ngIf="(formInfoTopicRegister.get('topic').get('content').hasError('required') ) && formInfoTopicRegister.get('topic').get('content').touched " class="text-danger" style="margin-left: 35%">Không được để trống</span>
          <span *ngIf="(formInfoTopicRegister.get('topic').get('content').hasError('maxlength')) && formInfoTopicRegister.get('topic').get('content').touched " class="text-danger" style="margin-left: 35%">Nội dung đề tài không được vượt quá 1000 ký tự</span>
        </div>

        <div class="row mt-4">

          <div class="col-4">
          <label for="formDescription" class="form-label"> <label style="color: red">* </label>Mô tả</label>
          </div>
          <div class="col-8">
          <input formControlName="descriptionURL" (change)="selectedDescriptionFile($event)" class="form-control form-control-sm" id="formDescription" type="file">

          </div>

        </div>

        <div class="row mt-4" formGroupName="topic">

          <div class="col-4">
            <label for="formImage" class="form-label"> <label style="color: red">* </label>Hình ảnh</label>
          </div>
          <div class="col-8">
            <input formControlName="image" (change)="selectedIamge($event)" class="form-control form-control-sm" id="formImage" type="file">
          </div>
          <span *ngIf="selectedImage == null && formInfoTopicRegister.get('topic').get('image').touched" class="text-danger" style="margin-left: 35%">Vui lòng chọn hình ảnh</span>

        </div>
<!--        <div class="row mt-4">-->
<!--          <div class="col-4">-->
<!--            <label style="color: red">* </label>Nhóm-->
<!--          </div>-->
<!--          <div class="col-8">-->
<!--            <select formControlName="groupAccount" class="form-select">-->
<!--              <option value="2">Nhóm A</option>-->
<!--              <option value="1">Nhóm B</option>-->
<!--              <option value="3">Nhóm C</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
      </form>
    </div>


    <div class="col-6 border-start">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên đề tài</th>
          <!--          <th scope="col">Số Lượng SVTH</th>-->
<!--          <th scope="col">Xem</th>-->
          <th scope="col">Chọn</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of topicList; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{e.name}}</td>
          <!--          <td>1128</td>-->
<!--          <td>-->
<!--            <button class="btn btn-success">Xem</button>-->
<!--          </td>-->
          <td>
            <button  data-bs-toggle="modal" data-bs-target="#exampleModalRegister" class="btn btn-success" (click)="selectTopic(e)">Xem</button>
          </td>


        </tr>

        </tbody>
      </table>
    </div>

  </div>
  <div class="row mt-4 ml-2">
    <div class="col-9">

    </div>
    <div class="col-3">
      <form [formGroup]="formInfoTopicRegister" (ngSubmit)="save()">
      <button [routerLink]="['/group',accountPercent.student.groupAccount.id]" class="get-started-btn bg-secondary border-0">Thoát</button>
      <button *ngIf="!checkSniper" type="submit" class="get-started-btn bg-primary border-0">Đăng ký</button>
        <button *ngIf="checkSniper" disabled style="border: 0; width: 100px"
                class="get-started-btn bg-primary border-0">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </form>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalRegister" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chi tiết đề tài</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="topicDetail != null" class="modal-body">
        <div class="row">
          <label style="width: 100px">Tên đề tài:</label> <label class="col-9">{{topicDetail.name}}</label>
        </div>

        <div class="row">
          <label style="width: 100px">Nội dung:</label> <label class="col-9">{{topicDetail.content}}</label>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>


