<main *ngIf="groupAccount != null" id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>{{groupAccount.name}}</h2>
    </div>
  </div><!-- End Breadcrumbs -->
  <div *ngIf="!statusJoin && accountGroupId != null" class="alert alert-success container-fluid"
       style="text-align: center" role="alert">
    Bạn có 1 lời mời vào nhóm <span style="color: red">{{nameGroup}}</span>!
    <button style="margin-left: 20px" class="btn btn-success" (click)="JoinGroup(studentId)">Đồng ý</button>
    <button style="margin-left: 20px" class="btn btn-secondary" (click)="DenyGroup(studentId)">Từ chối</button>
  </div>
  <!-- ======= Trainers Section ======= -->
  <div id="trainers" class="trainers" style="margin-top: 50px">
    <div class="container" data-aos="fade-up">
      <h1 class="mb-4 text-center">Thành viên trong nhóm</h1>
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div *ngFor="let e of groupAccount.studentList" class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img style="height: 300px" [src]="e.avatar" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Họ và tên: {{e.name}}</h4>
              <span class="badge badge-success" *ngIf=check>Nhóm trưởng</span>
              <span>Lớp: {{e.grade.name}}</span>
              <span>Ngành: {{e.grade.faculty.name}}</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut
                aut
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <h1 *ngIf="groupAccount.infoTopicRegisterList.length == 0" class="mb-4 text-center">Chưa có đề tài nào</h1>
      <div *ngIf="groupAccount.infoTopicRegisterList.length == 0" class="d-flex justify-content-center">
        <button class=" btn btn-success text-center" [disabled]="!checkStatusComplete" routerLink="/subscribe-topic">
          Đăng ký đề tài
        </button>
      </div>
      <div *ngIf="groupAccount.infoTopicRegisterList.length > 0">
        <h1 class="text-center mt-5 mb-3">Đề tài đã chọn</h1>
        <button class="btn btn-success" routerLink="/subscribe-topic" [disabled]="!checkStatusComplete">Đăng ký đề tài
        </button>
        <table class="table">
          <thead>
          <tr>
            <th>STT</th>
            <th>Tên đề tài</th>
            <th>Trạng thái</th>
            <th>Xem chi tiết</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let e of groupAccount.infoTopicRegisterList; let i = index">
            <td scope="row">{{i + 1}}</td>
            <td>{{e.topic.name}}</td>
            <td>{{e.statusComplete ? 'Hoàn thành' : 'Chưa hoàn thành'}}</td>
            <td class="">
              <button [routerLink]="'/process-detail/'+ e.id" class="btn btn-success"><i class="bi bi-eye"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div><!-- End Trainers Section -->

</main><!-- End #main -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
